/* ----------------------------------------------------------
WEBフォント読み込み設定
-----------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* ----------------------------------------------------------
基本設定
-----------------------------------------------------------*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #81bcd8;
	font-family:"Hiragino Kaku Gothic Pro", Meiryo, Osaka,"MS PGothic", "sans-serif";
	font-size: 20px;
}

.wrapper {
    background-color: lightgray;
}

.site-header{
	background: #fff;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	position: absolute;
	width: 100%;
}
.header-change{
	background: #333;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	position: fixed;
	top: -63px;
	transition: .5s;
	width: 100%;
}

.header-change.show{
	top: 0;
}
.header-change .gnav__menu__item a{
	color: #fff;
	text-decoration: none;
}

.header-change .gnav__menu__item a:hover{
	color: limegreen;
}

.after-logo{
    color: white;
}
.gnav__menu{
	display: flex;
}
.gnav__menu__item{
	margin-left: 20px;
}
.site-header .gnav__menu__item a{
	color: dimgray;
	text-decoration: none;
}

.site-header .gnav__menu__item a:hover {
	color: cornflowerblue;
}

.hero{
	max-height: 500px;
	overflow: hidden;
}
.hero img{
	height: auto;
	width: 100%;
}
.content{
	line-height: 1.6;
	margin: 0 auto;
    margin-top: 400px;
    margin-bottom: 50px;
	padding-top: 100px;
    padding-bottom: 100px;
	width: 85%;
    background-color: white;
}
.content p{
	margin-bottom: 40px;
}

.flexbox {
    width: auto;
    height: 800px;
    padding-left: 20%;
}

.left-item {
    float: left;
}

.left-item h4 {
    line-height: 3em;
}

.box {
    display: block;
    border: outset;
}


.right-item {
    float: left;
    margin-left: 30px;
    padding-top: 50px;
    line-height: 2.5em;
}

.myself {
    font-size: 1.2em;
}
}
}
｝
】
}
}
}
｝
}
}
}
｝
}
}
}
｝
】
}
}
}
｝
}
}
}

.right-item p {
    margin-left: 40px;
}

.works {
    text-align: center;
}

.works img {
    display: block;
    margin: auto;
}

.works p {
    display: inline-block;
    text-align: left;
    font-size: 1.3em;
}

.works .btn-flat-simple {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 148px;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: limegreen;
    background: #333;
    transition: .4s;
    border-radius: 7px;
    font-size: 1.2em;
}

.works .btn-flat-simple:hover {
  background: gray;
  color: lawngreen;
}
.site-footer{
	background: #333;
	padding: 80px 0;
}
.copyright{
	color: #fff;
	font-size: 12px;
	text-align: center;
}





/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

.content h2{
    text-align: center;
    font-size: 2.5em;
}

.content h3 {
    text-align: center;
    font-size: 1.8em;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}