.work {
    text-align: center;
}

.txt {
    display: inline-block;
    text-align: left;
    font-size: 1.3em;
  }

code{
    display: inline-block;
    text-align: left;
    font-size: 1.1em;
}

pre {
    background-color: greenyellow;
    margin: 0 150px;
}

